* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family:  "微軟正黑體", "Noto Sans TC", sans-serif;
    background-color: #0b0c1a;
    color: #e6e6e6;
    line-height: 1.6;
}

h1 {font-family: 'Chiron GoRound TC', "微軟正黑體", "Noto Sans TC", sans-serif; }

/* ===== Header & Nav ===== */
header {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(96px);
    background-color: #0b0c1a96;
    padding: 0.2rem 1rem;
    transition: background-color 0.3s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-menu a {
    color: #dcdcdc;
    font-size: 0.9rem;
    transition: color 0.3s;
    padding: 0.7rem 0.5rem; 
    display: inline-block; 
    text-align: center; 
    text-decoration:none;
}

.nav-menu a:hover {
    background-color: #5c61ac3e; 
    color: #8ab4f8;
    text-decoration:underline;
}

/* === main === */
main {
    margin-top: 3rem;
}

/* ===== Footer ===== */
footer {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    font-size: 0.85rem;
    color: #aaaaaa;
    background-color: #0f1117;
}

/* Hero */
#hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* slides info */
.slide {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-position: center center;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    display: block;
}

.slide-info {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(249, 242, 242, 0.7);
    background-color: rgba(0,0,0,0.3);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

/* button */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 50%;
}


.carousel-btn:hover {
    background: rgba(255,255,255,0.2);
}

.carousel-btn.prev {
    left: 1rem;
}

.carousel-btn.next {
    right: 1rem;
}

/* == news == */
#news h2 {
    text-align:center;
    padding-top: 2rem;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 2rem;
}

.news-item {
    background-color: rgba(20, 20, 35, 0.5);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 320;
    height: auto;
    flex: 1 1 320px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.news-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-info {
    padding: 1rem;
}

.news-info h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.news-info p {
    font-size: 0.95rem;
    color: #dcdcdc;
}